<nav class="px-3 navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Demo</a>
</nav>
<form [formGroup]="myForm">
  <div class="row d-flex mt-5 px-3">
    <div class="col-md-5">
      <span>Available: <a style="text-decoration: none;" (click)="selectAll()" href="#">Select All</a></span>
      <app-multi-select-options [PData]="availabelOptions" (childEvent)="availabelOptions=$event"></app-multi-select-options>
    </div>
    <div class="col-md-2 center">
      <a (click)="push()"><i class="fa fa-exchange" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-5">
      <span>Selected: <a style="text-decoration: none;" (click)="clearAll()" href="#">Clear All</a></span>
      <app-multi-select-options [PData]="formData.options.value || selectedOptions" (childEvent)="selectedOptions=$event"></app-multi-select-options>
    </div>
  </div>
</form>